<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href ="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Sorting and searching data using AnguarJS</title>
    <script src="../scripts/angular.js"></script>
    <script>
        var myapp = angular.module("myapp",[]).
        controller("mycontroller",function ($scope) {
            var employees = [
                {name:'David',dateofbirth:new Date("November 30, 1989"),gender:'Male',salary:55984.78,city:'London'},
                {name:'Sara',dateofbirth:new Date("October 2, 1972"),gender:'Female',salary:822566,city:'New York'},
                {name:'Pinky',dateofbirth:new Date("March 23, 1989"),gender:'Male',salary:31662,city:'Delhi'},
                {name:'Reddy',dateofbirth:new Date("December 7, 1983"),gender:'Female',salary:249627,city:'Paris'},
                {name:'Arjun',dateofbirth:new Date("January 14, 1956"),gender:'Male',salary:162862.55,city:'Sydney'},
            ];
            $scope.sort_column = "name";
            $scope.employees = employees;
            $scope.reverseSort = false;
            $scope.sortData = function (column) {
                $scope.reverseSort = ($scope.sort_column == column) ? !$scope.reverseSort : false;
                $scope.sort_column = column;
            }
            $scope.getSortClass = function (column) {
                if($scope.sort_column == column){
                    return $scope.reverseSort ? 'arrow_down' :'arrow_up';
                }
                return '';
            }
            /*$scope.search = function (item) {
                if ($scope.searchText == undefined) {
                    return true;
                }
                else {
                    if (item.city.toLowerCase().indexOf($scope.searchText.toLowerCase()) != -1 ||
                        item.name.toLowerCase().indexOf($scope.searchText.toLowerCase()) != -1) {
                        return true;
                    }
                }

                return false;
            };*/



        });
    </script>
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="myapp" ng-controller="mycontroller">
<div class="container">
    <div class="jumbotron">
        <form class="form-inline">
            <input type="text" class="form-control" placeholder="Search Name" ng-model="searchtext.name">
            <input type="text" class="form-control" placeholder="Search City" ng-model="searchtext.city">
            <input type="checkbox" ng-model="exact_match"> Exact match<br>
        </form>
        <!--filter:searchtext.city-- for only city-->
        <table class="table">
            <thead>
            <tr ng-model="sort_column">
                <th ng-click="sortData('name')"> Name <div ng-class="getSortClass('name')"></div></th>
                <th ng-click="sortData('dateofbirth')"> Date of Birth <div ng-class="getSortClass('dateofbirth')"></div></th>
                <th ng-click="sortData('gender')"> Gender <div ng-class="getSortClass('gender')"></div></th>
                <th ng-click="sortData('city')"> City <div ng-class="getSortClass('city')"></div></th>
                <th ng-click="sortData('salary')"> Salary <div ng-class="getSortClass('salary')"></div></th>
            </tr>
            <tr ng-repeat="x in employees | orderBy:sort_column:reverseSort |filter:searchtext:exact_match">
                <td>{{x.name}}</td>
                <td>{{x.dateofbirth|date:"dd/MM/yyyy"}}</td>
                <td>{{x.gender|uppercase}}</td>
                <td>{{x.city}}</td>
                <td>{{x.salary|currency:"&#8377;":1}}</td>
            </tr>
            </thead>
        </table>
    </div>
</div>
</body>
</html>